{% extends "base.html" %} {% block content %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">About</h1>
    <p class="col fs-4">
      Education is a top priority for parents and teachers. We know that
      learning happens outside as well as inside the classroom, and we
      understand that parents need resources that deliver the facts to children
      in a safe learning environment. Our content is written and edited by
      experts, not outside users, assuring you that we provide trusted, reliable
      information.
    </p>
  </div>
</div>

{% endblock %}
