{% extends 'base.html' %} {% block content %}

<div class="container text-center">
  <div class="container text-center pb-3">
    <div class="row">
      <div class="col">
        <h5 class="text-dark mb-3 fw-semibold">Choose Your Operation:</h5>
        <div class="col-auto">
          <input
            type="radio"
            class="btn-check"
            name="options-outlined"
            id="success-outlined"
            autocomplete="off"
            onclick="startGame(currentDifficulty, 'addition')"
            checked
          />
          <label class="btn btn-outline-success btn-lg" for="success-outlined"
            >Addition</label
          >

          <input
            type="radio"
            class="btn-check"
            name="options-outlined"
            id="danger-outlined"
            autocomplete="off"
            onclick="startGame(currentDifficulty, 'subtraction')"
          />
          <label class="btn btn-outline-danger btn-lg" for="danger-outlined"
            >Subtraction</label
          >
        </div>
      </div>

      <div class="col">
        <!-- Difficulty Selection -->
        <h5 class="text-dark fw-semibold mb-3">Choose Your Difficulty:</h5>
        <!-- Heading for Difficulty Selection -->

        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradioDifficulty"
            id="difficultyEasy"
            autocomplete="off"
            onchange="startGame('easy', currentOperation)"
            checked
          />
          <label class="btn btn-outline-success btn-lg" for="difficultyEasy"
            >Easy</label
          >

          <input
            type="radio"
            class="btn-check"
            name="btnradioDifficulty"
            id="difficultyMedium"
            autocomplete="off"
            onchange="startGame('medium', currentOperation)"
          />
          <label class="btn btn-outline-warning btn-lg" for="difficultyMedium"
            >Medium</label
          >

          <input
            type="radio"
            class="btn-check"
            name="btnradioDifficulty"
            id="difficultyHard"
            autocomplete="off"
            onchange="startGame('hard', currentOperation)"
          />
          <label class="btn btn-outline-danger btn-lg" for="difficultyHard"
            >Hard</label
          >
        </div>
      </div>
      <div class="col">
        <div class="col">
          <h5 class="text-dark mb-3 fw-semibold">Set Your Timer:</h5>
          <div class="btn-group" role="group" aria-label="Timer selection">
            <button
              type="button"
              class="btn btn-outline-primary btn-lg"
              onclick="setTimer(1)"
            >
              1 Min
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-lg"
              onclick="setTimer(2)"
            >
              2 Mins
            </button>
          </div>
          <!-- Stop Button -->
          <button
            type="button"
            class="btn btn-outline-danger btn-lg"
            onclick="stopTimer()"
          >
            Stop
          </button>

          <div class="col">
            <h5 class="text-dark mb-3 fw-semibold">
              Time Remaining: <span id="timerDisplay"></span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper pb-3">
    <div class="equation border border-primary border-3">
      <h1 id="num1" style="color: #6181f8"></h1>
      <span class="operator" style="color: #2ab7ca">+</span>
      <h1 id="num2" style="color: #fed766"></h1>
      <h1 style="color: #f86624">=</h1>
      <h1 id="result" style="color: gray">?</h1>
    </div>

    <div class="answer-options">
      <div
        class="options"
        data-answer="false"
        style="background-color: #6181f8"
      >
        <h1 id="option1">1</h1>
      </div>
      <div
        class="options"
        data-answer="false"
        style="background-color: #f86624"
      >
        <h1 id="option2">2</h1>
      </div>
      <div
        class="options"
        data-answer="false"
        style="background-color: #fed766"
      >
        <h1 id="option3">3</h1>
      </div>
    </div>

    <div class="d-grid px-5">
      <button id="submit-answer" class="btn btn-primary mt-3">
        Submit Answer
      </button>
    </div>

    <div class="align-self-end">
      <a
        href="{{ url_for('contact') }}"
        class="btn btn-warning"
        role="button"
        style="
          --bs-btn-padding-y: 0.25rem;
          --bs-btn-padding-x: 0.5rem;
          --bs-btn-font-size: 0.8rem;
        "
        ><i class="bi bi-person-raised-hand"></i> Need help? Contact Us!</a
      >
    </div>
  </div>

  <div class="container my-3">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-success border-0 mb-3">
          <div class="card-header fs-4 fw-semibold text-center">Correct</div>
          <div class="card-body">
            <h1 class="card-text text-lg-center" id="correct-count">0</h1>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-danger border-0 mb-3">
          <div class="card-header fs-4 fw-semibold text-center">Incorrect</div>
          <div class="card-body">
            <h1 class="card-text text-lg-center" id="incorrect-count">0</h1>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-primary border-0 mb-3">
          <div class="card-header fs-4 fw-semibold text-center">Score</div>
          <div class="card-body">
            <h1 class="card-text text-lg-center" id="score">0</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/math.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timer.js') }}"></script>

  {% endblock %}
</div>
